@model IEnumerable<IndecisionEngine.Models.ApplicationUser>

@{
    ViewData["Title"] = "Accounts";
}

<h2>Accounts</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayName)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayName)
        </td>
        <td>
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
}
</table>
<hr />
<form asp-action="DeleteAll" style="margin-left: 15px">
    <div class="form-horizontal">
        <div class="form-group">
            <div>
                <input type="submit" value="Delete All" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>