@model IndecisionEngine.ViewModels.StorySeeds.StorySeedViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Story Seed</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstEntry)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstEntry)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InitialState)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InitialState)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
