@model IndecisionEngine.ViewModels.StorySeeds.StorySeedsIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Seeds.FirstOrDefault().Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seeds.FirstOrDefault().StoryEntryId)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model.Seeds) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Entries.FirstOrDefault(entry => entry.Id == item.StoryEntryId).Body)
        </td>
        <td>
            <a asp-controller="StoryExplorer" asp-route-id="@item.StoryEntryId">Read</a> |
            <a asp-controller="StoryExplorer" asp-action="Graph" asp-route-id="@item.Id">Graph</a> |
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
}
</table>
<hr />
<p>
    <a asp-action="Create">New Story</a>
</p>
<hr />
<form asp-action="DeleteAll" style="margin-left: 15px">
    <div class="form-horizontal">
        <div class="form-group">
            <div>
                <input type="submit" value="Delete All" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>