@model IndecisionEngine.ViewModels.StoryTransitions.StoryTransitionViewModel

@{
    ViewData["Title"] = "Edit Transition";
}

<h2>Edit</h2>

<form asp-action="SaveTransition">
    <div class="form-horizontal">
        <hr />
        <!--TODO: Why did asp-for="Id" keep giving me the wrong value? Even when the right value showed in the debugger
            name="Id" value="@Model.Id"-->
        <input type="hidden" name="Id" value="@Model.Id" />
        <input type="hidden" asp-for="PriorEntryId" />
        <div class="form-group">
            <label asp-for="PriorEntry" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.PriorEntry)
            </div>
        </div>
        <!--<div class="form-group">
            <label asp-for="Preconditions" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Preconditions" class="form-control" />
                <span asp-validation-for="Preconditions" class="text-danger" />
            </div>
        </div>-->
        <div class="form-group">
            <label asp-for="ChoiceId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ChoiceId, new SelectList(Model.Choices, "Id", "Body"), "")
                <span asp-validation-for="ChoiceId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">or a new choice</label>
            <div class="col-md-10">
                <input type="text" id="newChoice" name="newChoice" class="form-control" />
            </div>
        </div>
        <!--<div class="form-group">
            <label asp-for="Effects" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Effects" class="form-control" />
                <span asp-validation-for="Effects" class="text-danger" />
            </div>
        </div>-->
        <div class="form-group">
            <label asp-for="NextEntryId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.NextEntryId, new SelectList(Model.Entries, "Id", "Body"), "")
                <span asp-validation-for="NextEntryId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">or a new entry</label>
            <div class="col-md-10">
                <input type="text" id="newEntry" name="newEntry" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index" asp-route-id="@Model.PriorEntryId">Back</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
