@model IndecisionEngine.Models.StoryEntry

@{
    ViewData["Title"] = "Index";
    var transitions = (IEnumerable<StoryTransition>)ViewData["transitions"];
    var choices = (IEnumerable<StoryChoice>)ViewData["choices"];
}

<!--<h2>Index</h2> TODO: Title-->

<h2>Entry:</h2>
<p>
    @Model.Body
</p>
<h3>Choices:</h3>
<table class="table">


    @foreach (var transition in transitions)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => choices.FirstOrDefault(choice => choice.Id == transition.ChoiceId).Body)
            </td>
            <td>
                @{
                    if (transition.NextEntryId.HasValue)
                    {
                        <a asp-action="Index" asp-route-id="@transition.NextEntryId">Select</a>
                    }
                    else
                    {
                        <a asp-action="EditTransition" asp-route-id="@transition.Id">Select</a>
                    }
                }
                |
                <a asp-action="EditTransition" asp-route-id="@transition.Id">Edit</a> |
                <a asp-controller="StoryTransitions" asp-action="Details" asp-route-id="@transition.Id">Details</a> |
                <a asp-controller="StoryTransitions" asp-action="Delete" asp-route-id="@transition.Id">Delete</a>
            </td>
        </tr>
    }
</table>
<p>
    <a asp-action="NewTransition" asp-route-id="@Model.Id">Create New</a>
</p>