@model IEnumerable<IndecisionEngine.Models.StoryTransition>

@{
    ViewData["Title"] = "Index";
    var entries = (IEnumerable<StoryEntry>)ViewData["entries"];
    var choices = (IEnumerable<StoryChoice>)ViewData["choices"];
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PriorEntryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preconditions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChoiceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Effects)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NextEntryId)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => entries.FirstOrDefault(entry => entry.Id == item.PriorEntryId).Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preconditions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => choices.FirstOrDefault(choice => choice.Id == item.ChoiceId).Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Effects)
        </td>
        <td>
            @Html.DisplayFor(modelItem => entries.FirstOrDefault(entry => entry.Id == item.NextEntryId).Body)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
}
</table>
<hr />
<form asp-action="DeleteAll">
    <div class="form-horizontal">
        <div class="form-group">
            <div>
                <input type="submit" value="Delete All" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>