@model IndecisionEngine.ViewModels.StoryTransitions.StoryTransitionsIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Transitions.FirstOrDefault().PriorEntryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transitions.FirstOrDefault().Preconditions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transitions.FirstOrDefault().ChoiceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transitions.FirstOrDefault().Effects)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transitions.FirstOrDefault().NextEntryId)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model.Transitions) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.Entries.FirstOrDefault(entry => entry.Id == item.PriorEntryId).Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preconditions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Choices.FirstOrDefault(choice => choice.Id == item.ChoiceId).Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Effects)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Entries.FirstOrDefault(entry => entry.Id == item.NextEntryId).Body)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
}
</table>
<hr />
<p>
    <a asp-action="Create">New Transition</a>
</p>
<hr />
<form asp-action="DeleteAll" style="margin-left: 15px">
    <div class="form-horizontal">
        <div class="form-group">
            <div>
                <input type="submit" value="Delete All" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>